apiVersion: v1
kind: Namespace
metadata:
  name: rapidrentals-prod
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rapidrentals-production
  namespace: rapidrentals-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rapidrentals-production
  template:
    metadata:
      labels:
        app: rapidrentals-production
    spec:
      nodeSelector:
        kubernetes.io/hostname: me2
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
        volumeMounts:
        - name: html
          mountPath: /usr/share/nginx/html
          readOnly: true
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 128Mi
      volumes:
      - name: html
        hostPath:
          path: /tmp/rapidrentals/production
          type: Directory
---
apiVersion: v1
kind: Service
metadata:
  name: rapidrentals-production
  namespace: rapidrentals-prod
spec:
  selector:
    app: rapidrentals-production
  ports:
  - port: 80
    targetPort: 80
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: rapidrentals-production
  namespace: rapidrentals-prod
spec:
  entryPoints:
    - web
  routes:
  - match: Host(`rapidrentals.marcus.local`)
    kind: Rule
    services:
    - name: rapidrentals-production
      port: 80
